[submodule "nvim/lua/packer.nvim"]
	path = nvim/lua/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:marvhus/dot-emacs.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:marvhus/nvim.git
[submodule ".config/i3"]
	path = .config/i3
	url = git@github.com:marvhus/i3.git
